*{
    box-sizing:border-box;
}
h1{
    text-align:center;
    margin-bottom:15px;
}
p{  margin-top:50px;
    border:1px;
    width:90%;
    height:150px;
    margin-right:auto;
    margin-left:auto;
    font-family:Helvetica;
    color:red;
    background-color:green;
}
div{
    position:relative;
}
/*h2{
    margin:1px;
    background-color: red;
    text-align:right;
}*/
h2{
margin:1px;
text-align:right;
position:absolute;
right:10px;
width:100px;
border:1px solid black;  
background-color:blue;  


}

@media (min-width: 992px){
    #abc1, #abc2, #abc3{
        float:left;
        border:1px solid black ;
 width:33.33%;
    }
 }
@media (min-width: 768px) and (max-width: 991px){
    #abc1,#abc2{
        float:left;
        border:1px solid black;
    width:50%;}


 #abc3{
    float:left;
        border:1px solid black;
     width:100%;
 }
}
@media(max-width:767px){
    #abc1,#abc2,#abc3{
        float:left;
        border:1px solid black;}

 #abc1{
     width:100%;
 }
 #abc2{
     width:100%;
 }
 #abc3{
     width:100%;
 }
 
}